.body {
    background: #89F799;
}

.recipe_cards {
    /*background-image: url("{{ recipe.recipe_photo }}");*/
    /*background-repeat: no-repeat;*/
    border: 1px solid;
    font-family: sans-serif;
    text-align: center;
    margin: 25px;
    height: 30em;
    width: 30em;
}

.blog_sidebar {
    position: fixed;
    margin: 25px;
    right: 0;
}

.recipe_detail_card {
    margin: auto;
}

.search_box {
    margin-top: 20px;
}

.btn {
    float: right;
    margin: 5px;
    width: 100px;
    height: 35px;
}

.views {
    margin-top: 75px;
}