.body {
    background: #89F799;
}

.recipe_cards {
    border: 1px solid;
    font-family: sans-serif;
    text-align: center;
    margin: 25px;
    height: 30em;
    width: 30em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.blog_sidebar {
    position: fixed;
    margin: 25px;
    right: 0;
}

.recipe_detail_card {
    margin: auto;
}

.search_box {
    margin-top: 20px;
}

.btn {
    float: right;
    margin: 0 5px 0 5px;
    width: 100px;
    height: 35px;
    text-align: center;
}

.views {
    margin-top: 75px;
}