<!-- Search bar -->
<div class="blog_sidebar col-xs-2">
    <form class="search_box">
        <input type="text" class="form-control" placeholder="Search recipe..."
               ng-model="query.name"/>
    </form>
    <div>
        <div class="sidebar-module sidebar-module-inset">
            <br>
            <h5>Filter your recipe search.</h5>

        </div>
        <div class="sidebar-module" ng-repeat="tag in tags | orderBy: 'name'">
            <ul class="list-unstyled">
                <li><input type="checkbox" ng-checked="tag.checked" ng-model="tag.checked"/> {{ recipe.tag }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Recipe Cards -->
<div class="container">
    <div class="animate-repeat" ng-repeat="recipe in recipes | filter:query | orderBy:'name'">
        <a href="#/recipes/{{ recipe.id }}">
            <div class="jumbotron recipe_cards col-lg-5 col-med-5 col-sm-10 col-xs-10"
                 ng-style="{ 'background-image': 'url(' + recipe.photo + ')' }">
                <br>

                <div class="well">
                    <h2>{{ recipe.name }}</h2>
                </div>
                <div class="well">
                    <em>{{ recipe.description }}</em>
                </div>
                <br>
            </div>
        </a>
    </div>
</div>

<!--<script>
    angular.module('app', [])

    angular.module('app').controller('MyCtrl', function ($scope) {
        $scope.bg =
        {{ recipe.photo }}
    })
</script>-->

<!---->