<!-- Search bar -->
<div class="blog_sidebar col-lg-3 col-md-3 hidden-xs hidden-sm">
    <form class="search_box">
        <input type="text" class="form-control" placeholder="Search recipe..."
               ng-model="query.name"/>
    </form>
    <div>
        <div class="sidebar-module sidebar-module-inset">

        </div>
        <div class="sidebar-module" ng-repeat="tag in tags | orderBy: 'name'">
            <ul class="list-unstyled">
                <li><input type="checkbox" ng-checked="tag.checked" ng-model="tag.checked"/> {{ recipe.tag }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Recipe Cards -->
<div class="container">
    <div ng-repeat="recipe in recipes | filter:query | orderBy:'name'" class="search_transition">
        <a href="#/recipes/{{ recipe.id }}">
            <div class="jumbotron recipe_cards col-lg-5 col-med-5 col-sm-10 col-xs-10"
                 ng-style="{ 'background-image': 'url(' + recipe.photo + ')' }">
                <br>

                <div class="well transparent">
                    <div>
                    <h2><strong>{{ recipe.name }}</strong></h2>
                    </div>
                </div>
                <div class="well transparent">
                    <em><strong>{{ recipe.description }}</strong></em>
                </div>
                <br>
            </div>
        </a>
    </div>
</div>